@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/

/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto', sans-serif, cursive;
    --body-font:'Roboto', sans-serif;
    --main-font-color-dark: #090909;
    --secondary-font-color: #654040;
    --body-font-color: #000000;
}
html{
     font-family: 'Roboto', sans-serif;
     font-size: 10px;
     color: var(--body-font-color);
     scroll-behavior: smooth;     
}
section{
       padding: 3.9rem 0;
       overflow: hidden;
}
/* img{
     width: 100%;
     max-width: 100%;
    
} */
a{
   text-decoration: none;       
}
p{
  font-size: 1.6rem;
}
.container{
          width: 100%;
          max-width: 122.5rem;
          margin: 0 auto;
          padding: 0 2.4rem;
          
}


/* header */


.wrapper{
  background: white;
  position: fixed;
  width: 120%;
  z-index: 999;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo img{
 /*  color: #fff;
  font-size: 30px;
  font-weight: 600; */
  max-width: 280px;
  position: relative;
  top: 10px;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  border-radius: 5px;
  height: 60px;
  margin-top: 15px;
  background: #b55252;
 
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: black;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: black;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: black;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: white;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

nav {
  color: #fff;
  background-color: rgb(248, 248, 248);
  width: 100%;
  height: 56px;
  line-height: 56px;
}


/* img {
    width: 70%;
    max-width: 100%;

} */


/* Responsive code start */
@media screen and (max-width: 1300px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
  
  
    margin-left: -110px;

  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}


@media screen and (max-width: 1300px){
  
img {
  width: 60%;
  max-width: 100%;
  padding-top: 7%;
  margin-right: 20px;
}
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #fefefe;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-Testimonials:checked ~ ul,
  .content .links #show-Opportunities:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}
@media screen and (max-width:947px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo img{
 
    max-width: 400px;
    padding-right: 50px;
 
    
  }}
@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
/*   .content .logo img{
 
    max-width: 280px;
  
    
  } */
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}  

/* header end */

        




/* FOOTER SECTION */

.bodycon{
  min-height: 10vh;
  width: 100%;
 
}
footer{
  position: relative;
  background: #140B5C;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content1{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content1 .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content1 .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content1 .top .media-icons{
  display: flex;
}
.content1 .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content1 .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content1 .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content1 .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content1 .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content1 .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content1 .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content1 .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #0F0844;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content1 .link-boxes{
    flex-wrap: wrap;
  }
  .box{
     display: inline;
     overflow-x: hidden;
     
    }
  footer .content1 .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }

  .content1 .top .logo-details{
    font-size: 26px;
  }
  .content1 .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content1 .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content1 .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content1 .top{
    flex-direction: column;
  }
  .content1 .top .media-icons{
    margin-top: 16px;
  }
  footer .content1 .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content1 .link-boxes .input-box{
    width: 100%;

  }
}




/********** Counter CSS ***********/
/**********************************/
#counters {
     padding: 60px 0;
     position: relative;
    /*  text-align: left; */
     color: #ffffff;
     background:#3f69aa;
     background-image: linear-gradient(50deg,lightblue,#3f69aa 50%,lightblue);
   }
   
   #counters .counter .counter-icon {
     display:inline-block;
     width: 80px;
     height: 80px;
     padding: 5px 0;
     text-align: center;
     color: #ffffff;
     font-size: 40px;
     border: 2px solid #ffffff;
     border-radius: 50px;
   }
   
   #counters .counter .number {
     font-size: 70px;
     margin: 0 0 1px;
     color: #ffffff;
     font-weight: 700;
   }
   
   #counters .number:after {
     color: #fff;
     content: "+";
     font-size: 40px;
     top: calc(50% + 25px);
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
   }
   
   #counters .counter h4 {
     margin: 0;
     color: #ffffff;
     font-size: 18px;
     font-weight: 400;
     text-transform: uppercase;
   }
   
   
   
   /********** Counter CSS  ends ***********/
   /**********************************/


  


/* advantages */


*{
  margin:0;
  padding:0;

}

.test{
  background:#be8049;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/790/52/1014/minimalistic-waves-white-gradient-wallpaper-preview.jpg');
  height: 100vh;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.test h1{
  text-align: center;
  padding-top: 80px;
  font-size: 40px;
  color: #fff;
}

.slide-row{
  display: flex;
  width: 3200px;
  transition: 0.5s;

}

.slide-col{
  width: 800px;
  height: 400px;
  position: relative;
}

.user-img{
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
 


}

.user-img img{
  height: 50%;
  border-radius:10px;
}

.user-text{
  background-color: #7e001d;
  width: 570px;
  height: 500px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  color: #d3d4d6;
  padding: 45px;
  box-sizing: border-box;
  z-index: 2;

}

.user-text p{
  font-size: 18px;
  line-height: 24px;
}

.user-text h2{
  margin: 30px 0 5p;
  color: #e51818;
} 

.cont{

  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.indicat{
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: -50px;
}

.btnn{
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
  transition: 0.5s;
}


.active{
width: 45px;
}


.testimonials{
  width: 100%;
  height: 100%;
  overflow: hidden;
} 

/* advantages end */


/*team start*/

   
   /* about section styling */
   .about .title::after{
    content: " ";
  }
  .about .about-content .left{
    width: 45%;
  }
  .about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
  }
  .about .about-content .right{
    width: 55%;
  }
  .about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    
  }
  .about .about-content .right .text span{
    color: crimson;
  }
  .about .about-content .right p{
    text-align: justify;
  }
  .about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
  }
  .about .about-content .right a:hover{
    color: crimson;
    background: none;
  }
  
  .about .about-content{
    display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
  }
     
  .max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }   
     
     

  section .title{
    position: relative;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 2px solid red;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
/*     text-decoration: underline black ;
    text-underline-position: under ;
    text-decoration-thickness: 2px; */

    
  }
     

   .title1{
  position: relative;
  font-size: 40px;
  top: 100px;
  left:500px;
}

.title2{
  position: relative;
  font-size: 40px;
  top: 80px;
  left:505px;
}  
 /*    
.title{
  border-bottom: 1px black solid;
  padding: 10px 30px 4px;
  border-bottom: 2px solid red;

}
  */

.title{
  position: relative;
  font-size: 2rem;
}
.title::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 400px;
  border-bottom: 4px solid rgb(9, 9, 10);
  width: 20%;
  top: 50px;
}
 

  /* responsive media query start */
  @media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
    
    .about .title2  {
      font-size: 30px;
      padding: 10px 30px;
      top: 275%;
      left: 40%;
    }
    
  }
  
  
  @media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
  }
  @media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    
    .about .title1  {
      font-size: 30px;
      padding: 10px 30px;
      top: 275%;
      left: 40%;
    }
  
    .about .title2  {
      font-size: 30px;
      padding: 10px 30px;
      top: 275%;
      left: 40%;
    }
  
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
    
        flex: 100%;
    }
    
    .headcentered{
      font-size: 27px;
        padding: 10px 30px;
        padding-left: 90px;
  
    }
    .centered{
      font-size: 23px;
      padding: 10px 30px;
    }
  }
  
  @media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
    
  }
  
  @media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }
   
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
  }
    
     
  @media (max-width: 600px) {
     
    .title1{
      font-size: 23px;
      padding: 10px 30px;
      padding-left: 0px;
      position: absolute;
      left: 40%;
      top: 20%;
    }
     
  }
     
     
     
  .hero{
    background-color:#f8f8f8;
    overflow: hidden;
  }
  
  .heading h1{
    color: #dd5d79;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
  
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
  }
  
  
  
  .hero-content{
    flex: 1;
    width: 3200px;
    margin: 0px 25px;
    animation: fadeInUp 1.5s ease;
  
  }
  
  
  .hero-content h2{
   font-size: 38px;
   margin-bottom: 20px;
   color: #333;
  
  }
  
  
  
  .hero-content p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
  }
  
  
  .hero-content button{
   display: inline-block;
   background-color: #ff4500;
   color: #fff;
   padding: 12px 24px;
   border-radius: 5px;
   font-size: 20px;
   border: none;
   cursor: pointer;
   transition: 0.3s ease;
  
  }
  
  .hero-content button:hover{
  
    background-color: #ff6347;
    transform: scale(1.1);
  
  }
  
  .hero-image{
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 1.5s ease;
  
  }
  
  
  .img{
   width: 100%;
   height: auto;
   border-radius:10px;
  }
  
  @media screen and (max-width:768px) {
    .heading h1{
  
        font-size: 45px;
        margin-top: 30px;
    }
  
    .hero{
       margin: 0px;
    }
  
    .container{
  
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }
  
    .hero-content{
  
        width: 100%0;
        margin: 35px 0px;
  
    }
  
    .hero-content h2{
        font-size: 30px;
    }
  
  
    .hero-content p{
        font-size: 18px;
        padding: 20px;
    }
  
  
    .hero-content button{
        font-size: 16px;
        padding: 8px 16px;
    }
  
    .hero-image{
  
        width: 100%;
  
    }
  }
  
  @keyframes fadeInUp{
  
    0%{
  
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
  
        opacity: 1;
        transform: translateY(0px);
    }
  }
  
  @keyframes fadeInRight {
  
    0%{
  
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
  
        opacity: 1;
        transform: translateX(0px);
    }
  }
  
  /*end team */
  