@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Roboto', sans-serif, cursive;
    --body-font:'Roboto', sans-serif;
    --main-font-color-dark: #090909;
    --secondary-font-color: #f7a7a7;
    --body-font-color: #000000;
}
html{
     font-family: 'Roboto', sans-serif;
     font-size: 10px;
     color: var(--body-font-color);
     scroll-behavior: smooth;     
}
section{
       padding: 3.9rem 0;
       overflow: hidden;
}
img{
     width: 100%;
     max-width: 100%;
     
}

  a{
    text-decoration: none;       
  }
p{
  font-size: 1.6rem;
}
.container{
          width: 100%;
          max-width: 122.5rem;
          margin: 0 auto;
          padding: 0 2.4rem;
          
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
} */
.wrapper{
  background: white;
  position: fixed;
  width: 120%;
  z-index: 999;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 30px;
}
.content .links li a,
.content .links li label{
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  border-radius: 5px;
 
  /* margin-top: 15px; */
  background: #b55252;
 
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: black;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: black;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: black;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: white;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

nav {
  color: #fff;
  background-color: rgb(248, 248, 248);
  width: 100%;
  height: 56px;
  line-height: 56px;
}


img {
    width: 70%;
    max-width: 100%;
    padding-top: 7%;
}


/* Responsive code start */
@media screen and (max-width: 1300px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
  
  
    margin-left: -110px;

  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}


@media screen and (max-width: 1300px){
  
img {
  width: 60%;
  max-width: 100%;
  padding-top: 7%;
  margin-right: 20px;
}
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #fefefe;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-Testimonials:checked ~ ul,
  .content .links #show-Opportunities:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}  

/* header end */


#myVideo {
  width: 100%;
  position: relative;
  
  }
   
header{
       width: 100%;
       position: absolute;
       top: 0;
       left: 0;
       z-index: 1;
       /* background-image: linear-gradient(to bottom, hsl(240, 40%, 96%), transparent);    */
       background-color:  #fff; 
}
.menu-toggle{
          color: #cd3e3e;
          font-size: 2.2rem;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 2.5rem;
          cursor: pointer;
          z-index: 1500;
}
.fa-times{
      display: none;              
}.open .fa-times{
     display: block;
}
.open .fa-bars{
     display: none;
}
/* hero */
.hero{
     width: 100%;
     height: 100vh;
  /*    background: url("https://www.aljazeera.com/wp-content/uploads/2023/01/GettyImages-1215125159.jpg?resize=1800%2C1800") center no-repeat;
   */   background-size: cover;
     /* display: flex; */
     align-items: center;
     /* justify-content: center; */
     
     text-align: center;
}
.sub-headline{
     font-size: 6.5rem;
     color: var(--secondary-font-color);
     font-weight: 100;
     line-height: -4;
     letter-spacing: 2px;
     opacity: 0;
     animation: fadeUp .5s forwards;
     animation-delay: .5s;
}
.first-letter{
     text-transform: uppercase; 
     font-size: 8.3rem;
     
}
.headline{
     color: #fff;
     font-size: 2.7rem;
     font-family: var(--main-font);
     text-transform: uppercase;
     font-weight: 700;
     letter-spacing: .5rem;
     margin-right: -.5rem;
     animation: scale .5s forwards;
     
}
.separator{
     display: flex;
     justify-content: center;

}
.asterisk{
     font-size: 1.2rem;
     color: var(--secondary-font-color);
     margin: 0 1.6rem;
     opacity: 0;
     animation: spin .5s forwards;
     animation-delay: .7s;
}
.single-animation{
     opacity: 0;
     animation: fadeDown .5s forwards;
     animation-delay: 1.5s;

}

.headline-desciption h5{
     color:#fff;
     font-size: 1.4rem;
     font-weight: 100;
     text-transform: uppercase;
     margin-bottom: 1.2rem;
     letter-spacing: 3px;
     margin-right: -2px;
     
}
.btn{
     display: inline-block;
     text-transform: uppercase;
     letter-spacing: 2px;
     margin-right: -2px;
}
.cta-btn{
     font-size: 1.1rem;
     background-color: #fff;
     padding: .0rem 1.0rem;
     color: var(--body-font-color);
     border-radius: .4rem;
     transition: background-color .5s;
     

}
.cta-btn:hover,
.cta-btn:focus{
     color: #fff;
     background-color: var(--secondary-font-color);
     

}
/* Discover our Story */

.global-headline{
     text-align: center;
     margin-top: 3.9rem;
}
.discover-our-story .global-headline{
     margin-top: 6.9rem;
}
.global-headline .asterisk{
     color: var(--body-font-color);
     margin: 2.4rem 0;
}
.headline-dark{
     color: var(--main-font-color-dark);
     letter-spacing: .7rem;
     margin-right: -.7rem;
}
.global-headline .sub-headline{
     letter-spacing:  -1px;
     line-height: .42;
}
.company-info{
     text-align: center;
  
}
.company-description{
     margin-bottom: 3rem;
}
.company-description p{
     line-height: 1.6;
     margin-bottom: 2.4rem;
}
.body-btn{
     font-size: 1.5rem;
     color: var(--secondary-font-color);
     position: relative;
     transition: color .5s;
}
.body-btn::before{
     content: '';
     position: absolute;
     left: 0;
     width: 100%;
     height: 2px;
     bottom: -3px;
     background-color: var(--secondary-font-color);
     transition: background-color .5s;
}
.body-btn:hover::before,
.body-btn:focus::before{
     background-color: var(--main-font-color-dark);
}
/* team */
.our-Services{
  background: url("https://cdn.pixabay.com/photo/2016/10/29/09/32/abstract-1780182_640.png") center no-repeat; 
/* background-color: black; */
    background-size: cover;
}
.between{
    min-height: 65vh;
    display: flex;
    align-items: center;
}


  /* Discove our services */
  .image-group{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       grid-gap: 0;
  }
  
  /* our esteemd clients */
.our-clients{
     background: url("https://www.getcanopy.com/hubfs/Legacy/Imported_Blog_Media/iStock-873397538-2.jpg") center no-repeat;
     background-size: cover;
     height: 575px;  
}

@media screen and (min-width: 900px){
     section{
         /*  padding: 7.9rem; */
          padding-top: 0.1rem ;
     }
     .menu-toggle{
          display: none;
     }
     .active{
          position: relative;
     }
     .active::before{
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #fff;
          left: 0;
          bottom: -3px;

     }
     #myvideo{
          width: 100%;
     }
     .sub-headline{
          font-size: 5rem;
         /*  padding-top: 140px; */
          
     }
     .first-letter{
          font-size: 8.2rem;
     }
     .headline{
          font-size: 3.7rem;
          letter-spacing: .8rem;
     }
     .line{
          max-width: 11.4rem;
     }
     .company-info{
          display: flex;
          align-items: center;
          
     }
     .company-info > div{
          flex: 1;
     }
     .padding-right{
          padding-right: 7rem;
     }

}
     
/* Animations */
@keyframes fadeUp {
     0%{
        transform: translateY(4rem);

     }
     100%{
          opacity: 1;
          transform: translateY(0);
     }
}
    
@keyframes scale {
     0%{
        transform: scale(2);

     }
     100%{
          opacity: 1;
          transform: sale(1);
     }
}
      
@keyframes grow {
     0%{
        width: 0;

     }
     100%{
          opacity: 1;
          width: 100%;
     }
}


@keyframes spin {
     0%{
        transform: rotate(0);

     }
     100%{
          opacity: 1;
          transform: rotate(-360deg);
     }
}


@keyframes fadeDown {
     0%{
        transform: translateY(-1rem);

     }
     100%{
          opacity: 1;
          transform: translateY(0);
     }
}
   

@keyframes up{
     0%{
       opacity: 0;

     }
     50%{
          opacity: 1;
     }
     100%{
          opacity: 0;
          transform: translateY(-1rem);
     }
}


/* tm-industry */
.indscontainer{
     width: 100%;
     min-height: 100vh;
     background-color: #e9d7dc;
   /*  background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
     align-items: center;
     justify-content: center;
}
.testimonial{
     width: 90%;
     top: 20%;
     left: 19%;
     position: absolute;
     max-width: 800px;
     margin: auto;
}
.testimonial-text{
     background: #8f5066;
     color: #fff;
     width: 120%;
     height: 500px;
     position: relative;
     box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}
.user-text{
     width: 80%;
     text-align: center;
     line-height: 30px;
     position: absolute;
     top: 53%;
     left: 50%;
     transform:translate(-50%,-50%);
     display: none;
}
.user-text .fas{
     font-size: 30px;
     margin-bottom: 50px;
     margin-top: 20px;
}
.user-text span{
     display: block;
     font-size: 13px;
     margin-top: 70px;
     font-weight: 500;
     text-transform: uppercase;

}
.testimonial-pic{
     margin-top: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.user-pic{
     width: 65px;
     padding: 5px;
     border-radius: 5px;
     margin: 10px;
}
.user-text.active-text{
     display: block;
     animation: moveup .5s linear forwards;

}
.user-pic.active-pic{
     width: 100px;
     border: 3px solid #ff0058;
}
@keyframes moveup{
     0%{
          margin-top: 25%;

     }
     100%{
          margin-top: 0px;
     }
}

/* clients and associates */
.clientscontainer{
     padding: 0;
     margin: 0;
     overflow: hidden;
}
.banner1,.banner2, .banner3{
     width: 120%;
     position: relative;
     height: 100vh;
     left: 0%;
     top: 0;

}
.img-clients{
width: 120%;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
animation: zoom-out 3s linear infinite;

}
@keyframes zoom-out{
     100%{
          width: 100%;
     }
}
.text-box{
     width: 600px;
     position: absolute;
     top: 200px;
     left: 100px;
     color: #fff;
     animation: textup 12s linear infinite;
     transform: translateY(100px);
}
@keyframes textup {
     10%{
          transform: translateY(0px);
     }
     100%{
          transform: translateY(0px);
     }

}
.text-box h1{
     margin-bottom: 40px;
}
.text-box p{
     font-size: 14px;
     line-height: 18px;
     margin-top: 80px;
}
.text-box span{
     background: #e4d6db;
     height: 1px;
     width: 100px;
     position: absolute;
     left: 0;
}
.banner1{
     animation: slide1 12s linear infinite;
}

.banner2{
     animation: slide2 12s linear infinite;
}

.banner3{
     animation: slide3 12s linear infinite;
}

@keyframes slide1{
     0%{
          visibility: visible;

     } 
     25%{
          visibility: hidden;

     }
     
     50%{
          visibility: hidden;

     }
     75%{
          visibility: hidden;

     }
     100%{
          visibility: visible;

     }
}


@keyframes slide2{
     0%{
          visibility: hidden;

     } 
     25%{
          visibility: hidden;

     }
     
     50%{
          visibility: visible;

     }
     75%{
          visibility: hidden;

     }
     100%{
          visibility: hidden;

     }
}

@keyframes slide3{
     0%{
          visibility: hidden;

     } 
     25%{
          visibility: hidden;

     }
     
     50%{
          visibility: hidden;

     }
     75%{
          visibility: hidden;

     }
     100%{
          visibility: visible;

     }
}









/* FOOTER SECTION */

.bodycon{
  min-height: 10vh;
  width: 100%;
 
}
footer{
  position: relative;
  background: #140B5C;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content1{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content1 .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content1 .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content1 .top .media-icons{
  display: flex;
}
.content1 .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content1 .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content1 .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content1 .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content1 .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content1 .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content1 .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content1 .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #0F0844;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content1 .link-boxes{
    flex-wrap: wrap;
  }
  .box{
     display: inline;
     overflow-x: hidden;
     
    }
  footer .content1 .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }

  .content1 .top .logo-details{
    font-size: 26px;
  }
  .content1 .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content1 .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content1 .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content1 .top{
    flex-direction: column;
  }
  .content1 .top .media-icons{
    margin-top: 16px;
  }
  footer .content1 .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content1 .link-boxes .input-box{
    width: 100%;

  }
}




/********** Counter CSS ***********/
/**********************************/
#counters {
     padding: 60px 0;
     position: relative;
    /*  text-align: left; */
     color: #ffffff;
    /*  background:#3f69aa; */
    /*  background-image: linear-gradient(50deg,rgb(211, 218, 220),rgb(54, 52, 52) 50%,rgb(211, 218, 220)); */
   }
   
   #counters .counter .counter-icon {
     display:inline-block;
     width: 80px;
     height: 80px;
     padding: 5px 0;
     text-align: center;
     color: rgb(54, 52, 52);
     font-size: 40px;
     border: 2px solid rgb(54, 52, 52);
     border-radius: 50px;
   }
   
   #counters .counter .number {
     font-size: 70px;
     margin: 0 0 1px;
     color: rgb(54, 52, 52);
     font-weight: 700;
   }
   
   #counters .number:after {
     color: rgb(54, 52, 52);
     content: "+";
     font-size: 40px;
     top: calc(50% + 25px);
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
   }
   
   #counters .counter h4 {
     margin: 0;
     color:rgb(54, 52, 52);
     font-size: 18px;
     font-weight: 400;
     text-transform: uppercase;
   }


  @media only screen and (max-width: 700px) {
    #counters .counter h4 {
      font-size: 12px !important;
      font-weight: 700;  
    }
  }
   
   
   /********** Counter CSS  ends ***********/
   /**********************************
   
   
      
   


   
/* projects section styling */
.text{
  color:crimson;
  font-size: 20px;
}
.title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: #040404;
}/* 
.teams .title::after{
  content: "Our best Works";

} */
.teams .carousel .card1{
  background: #1e1d1d;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.teams .carousel .card1:hover{
  background: rgb(255, 255, 255);
}
.teams .carousel .card1 .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.teams .carousel .card1:hover .box{
  transform: scale(1.05);
}
.teams .carousel .card1.text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.teams .carousel .card1 img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid crimson;
  transition: all 0.3s ease;
}
.teams .carousel .card1:hover img{
  border-color: #353131;
}
.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid crimson!important;
  transition: all 0.3s ease;
}
.owl-dot.active{
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
  background: crimson!important;
}
   

   
   
 /* soft mob vir */
   
     
 /* main page */
 .bodycontent{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333; 
}
#container2.container{
  position: relative;
  display: flex;
  padding: 80px 40px;
  align-items: center;
  flex-wrap: wrap;
  gap: 85px;
}
.centered {
position: absolute;
top: 35%;
left: 40%;
font-size: 40px;
font-weight: 410;
transform: translate(-50%, -50%);
color: #fff;
z-index: -1;
}

.headcentered{
position: absolute;
top: 20%;
left: 34%;
font-size: 60px;
font-weight: 1000;
transform: translate(-50%, -50%);
color: #fff;
}
.card{
  position: sticky;
  width: 320px;
  height: 210px;
  background: #333;
  transition: 0.5s;
}
.card:hover{
  height: 600px;
}
.card .Lines{
 position: absolute;
 inset: 0;
 background: #000;
 overflow: hidden;

}
.card .Lines::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 120px;
  background: linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
  animation: animate 4s linear infinite;
  animation-play-state: paused;

}
.card:hover .Lines::before{
  animation-play-state: running;
}
@keyframes animate {
0%{
  transform: translate(-50%,-50%) rotate(0deg);

}
100%{
  transform: translate(-50%,-50%) rotate(360deg);

}
}
.card .Lines::after{
content:'';
position: absolute;
inset: 3px;
background: #292929; 

}
.card .imgBx{
  position: absolute;
  top: -60px;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translateX(-50%); 
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover .imgBx{
  top: 25px;
  width: 200px;
  height: 150px;
}
.card .imgBx::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background: linear-gradient(transparent,#ff3c7b,#ff3c7b,#ff3c7b,transparent);
  animation: animate2e 6s linear infinite;
  animation-play-state: paused;
}
.card:hover .imgBx::before{
  animation-play-state: running;
}
@media only screen and (max-width:900px) {
 /* For tablets: */
 .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
.tab1cards {
 display: flex;
 flex-direction: row;
}
 
}
@keyframes animate2 {
0%{
  transform: translate(-50%,-50%) rotate(360deg);

}
100%{
  transform: translate(-50%,-50%) rotate(0deg);

}
}
.card .imgBx::after{
  content: '';
  position: absolute;
  inset: 3px;
  background: #292929;
}
.card .imgBx img{
 position: absolute;
 width: 100px;
 z-index: 1;
 filter: invert(1);
 opacity: 0.5;
 transform: 0.5s;
 }
.card:hover .imgBx img{
opacity: 1;
}
.card .content{
position: absolute;
width: 100%;
height: 102%;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;

}
.card .content .details{
padding: 30px 20px;
text-align: center;
width: 100%;
transition: 0.5s;
transform: translateY(145px);

}
.card:hover .content .details{
transform: translateY(100px);

}
.card .content .details h2{
font-family: 1.5em;
font-weight: 500;
color: #45f3ff;
line-height: 1.2em;
font-size: 20px;
}

.card .content .details p{
color: #fff;
opacity: 0;
transition: 0.5s;
/* new font size */
font-size: 17px;
}
.card:hover .content .details p{
opacity: 1;
}
.card .content .details a{
display: inline-block;
padding: 10px 15px;
background: #45f3ff;
color: #292929; 
margin-top: 10px;
font-weight: 500;
text-decoration: none;
font-size: 15px;
opacity: 0;
text-align: center;
}
.card:hover .content .details p,
.card:hover .content .details a
{
opacity: 1;
}

.paracontent{
background-color: rgb(219, 218, 218);
margin-bottom: 70px;
color: #0a0a0a;
}

.tindustry{
justify-content: center;
padding-left: 70px;
padding-right: 700px;
padding-bottom: 30px; 
font-size: 20px;
}

.hscontent{
  font-size: 14px;
  left: 0px;
  top:-47px;
  position: relative;
  color: black;
}


@media (min-width:300px) and (max-width:370px){
  nav .logo{
   font-size:15px;
  } 
  .hscontent{
    font-size: 10px;
    left: 0px;
    top:-47px;
    position: relative;
    color: black;
  }

  
}
